.customer strong {
    font-size: 25px;
    padding-left: 10px;
}
.card-header {
    color: white;
    background-color: blue;
}
.customer-name{
    font-size: 20px;
}
.view-orders{
    color: blue !important ;
}
.fa-edit {
    color: white;
}
.table {
    width: 100%;
}