.customer strong {
    font-size: 25px;
    padding-left: 10px;
}
.card-header {
    color: white;
    background-color: rgb(83, 83, 255);
}
.customer-name{
    font-size: 20px;
}
.view-orders{
    color: blue !important ;
}
.fa-edit {
    color: white;
}
.table {
    width: 100%;
}
.active {
  font-weight: 500;
  color: rgb(0, 0, 165) !important;
}
.scroll-table {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.table-head th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.pagination{
  position: fixed;
  bottom: 0;

}
