<!-- <div class="container">
  <div class="customer">
    <img src="/assets/images/user.png" width="55px" height="55px"> &nbsp;  <strong> Customers </strong>
  </div>
</div> -->

<div class="customers view indent">
  <div class="container">
    <header>
      <h3><img src="/assets/images/user.png" width="55px" height="55px"> Customers</h3>
    </header>
    <div class="row">
      <div class="col-md-10">
        <div class="navbar">
          <ul class="nav ">
            <li class="nav-item">
              <a class="nav-link" (click)="changeDisplayMode(displayModeEnum.Card)"
                [class.active]="displayMode === displayModeEnum.Card">
                <i class="fas fa-th"></i> Card View </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="changeDisplayMode(displayModeEnum.List)"
                [class.active]="displayMode === displayModeEnum.List"><i class="fas fa-list"></i> List View </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fa fa-plus" aria-hidden="true"></i> <a class="add-customer" [routerLink]="['/customers/0/edit']">
                  New Customer</a> </a>
            </li>
          </ul>
          <div class="navbar-form navbar-right">
            <div class="form-group">
              <label class="navbarText col-sm-2">Filter:</label>
              <div class="col-sm-10">
                <input type="text" (input)="customersFilter($event.target.value)" class="novalidate form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section [hidden]="displayMode !== displayModeEnum.Card">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let customer of filteredCustomers | paginate: { id: 'listing_pagination',
        itemsPerPage: 4,
        currentPage: page,
        totalItems: totalRec }">
          <div class="card">
            <div class="card-header">
              <div class="d-flex justify-content-between">
                <div class="customer-name">
                  {{customer?.firstName}} {{customer?.lastName}}
                </div>
                <div>
                  <a [routerLink]="['/customers', customer?.id, 'edit']"> <i class="fa fa-edit"
                      style="font-size:18px"></i> </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <img *ngIf="customer?.gender === 'male'" src="/assets/images/male.png" width="80px" height="80px" />
                  <img *ngIf="customer?.gender === 'female'" src="/assets/images/female.png" width="80px"
                    height="80px" />
                </div>
                <div class="pull-right">
                  {{customer?.address}}
                  {{customer.city}}
                  {{customer?.state}} <br />
                  <a class="view-orders"> View Orders </a>
                </div>
              </div>
            </div>
          </div> <br />
        </div>
      </div>

      <div *ngIf="filteredCustomers.length === 0" >
        <p> No Records Found </p>
      </div>

      <div class="pagination">
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
        </pagination-controls>
      </div>

    </section>

    <section [hidden]="displayMode !== displayModeEnum.List">
      <div class="scroll-table">
        <div class="row">
          <table class="table table-striped">
            <thead class="table-head">
              <tr>
                <th scope="col"></th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of filteredCustomers; let i=index">
                <td>
                  <img *ngIf="customer?.gender === 'male'" src="/assets/images/male.png" width="50px" height="50px" />
                  <img *ngIf="customer?.gender === 'female'" src="/assets/images/female.png" width="50px"
                    height="50px" />
                </td>
                <td> <a [routerLink]="['/customers', customer.id, 'edit']"> {{customer?.firstName}} </a> </td>
                <td>{{customer?.lastName}}</td>
                <td>{{customer?.address}} </td>
                <td> {{customer?.city}} </td>
                <td> {{customer?.state}} </td>
              </tr>
            </tbody>
            <div *ngIf="filteredCustomers.length === 0" >
              <p> No Records Found </p>
            </div>
          </table>
        </div>
      </div>
    </section>

  </div>
</div>
